# NBA Games Data Manipulation and Exploration

## Context:
- Data is for NBA games from 2004 to Dec. 2020
- Data source (some changes have been made): https://www.kaggle.com/nathanlauga/nba-games

## Dataset Description:
- "games": each game played, including information about teams and number of points, etc.
- "teams": information about each team playing in games

In [105]:
#Import pandas library

In [106]:
import pandas as pd

In [107]:
#Load data from csv as dataframe called games

In [108]:
games=pd.read_csv('games.csv')

In [109]:
#Inspect dataframe

In [110]:
games.head()

,GAME_DATE,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,POINTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,POINTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2020-12-19,12000047,Final,1610612753,1610612766,2020,1610612753,120,0.433,0.792,...,23,50,1610612766,117,0.444,0.864,0.439,21,52,1
1,2020-12-19,12000048,Final,1610612764,1610612765,2020,1610612764,99,0.427,0.625,...,24,45,1610612765,96,0.402,0.647,0.326,18,51,1
2,2020-12-19,12000049,Final,1610612763,1610612737,2020,1610612763,116,0.400,0.744,...,21,43,1610612737,117,0.422,0.837,0.297,24,47,0
3,2020-12-18,12000039,Final,1610612754,1610612755,2020,1610612754,107,0.371,0.692,...,19,45,1610612755,113,0.533,0.629,0.355,23,48,0
4,2020-12-18,12000040,Final,1610612761,1610612748,2020,1610612761,105,0.380,0.737,...,27,37,1610612748,117,0.534,0.741,0.514,30,51,0

In [111]:
#Inspect dataframe columns

In [112]:
games.columns

Index(['GAME_DATE', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'POINTS_home',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'TEAM_ID_away', 'POINTS_away', 'FG_PCT_away', 'FT_PCT_away',
       'FG3_PCT_away', 'AST_away', 'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')

In [113]:
#Reassign games as subset of only columns desired

In [114]:
games=games[['GAME_DATE','GAME_STATUS_TEXT','TEAM_ID_home','TEAM_ID_away','POINTS_home','POINTS_away','HOME_TEAM_WINS']]

In [115]:
#Ensure changes have been made correctly to dataframe

In [116]:
games.head()

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS
0,2020-12-19,Final,1610612753,1610612766,120,117,1
1,2020-12-19,Final,1610612764,1610612765,99,96,1
2,2020-12-19,Final,1610612763,1610612737,116,117,0
3,2020-12-18,Final,1610612754,1610612755,107,113,0
4,2020-12-18,Final,1610612761,1610612748,105,117,0

In [117]:
#Inspect new dataframe's info

In [118]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23421 entries, 0 to 23420
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE         23421 non-null  object
 1   GAME_STATUS_TEXT  23421 non-null  object
 2   TEAM_ID_home      23421 non-null  int64
 3   TEAM_ID_away      23421 non-null  int64
 4   POINTS_home       23421 non-null  int64
 5   POINTS_away       23421 non-null  int64
 6   HOME_TEAM_WINS    23421 non-null  int64
dtypes: int64(5), object(2)
memory usage: 1.3+ MB

In [119]:
#Change game data column to datetime datatype

In [120]:
games['GAME_DATE']=pd.to_datetime(games['GAME_DATE'])

In [121]:
#Change game status column to string datatype

In [122]:
games['GAME_STATUS_TEXT']=games['GAME_STATUS_TEXT'].astype('string')

In [123]:
#Ensure changes have been made correctly to dataframe

In [124]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23421 entries, 0 to 23420
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE         23421 non-null  datetime64[ns]
 1   GAME_STATUS_TEXT  23421 non-null  string
 2   TEAM_ID_home      23421 non-null  int64
 3   TEAM_ID_away      23421 non-null  int64
 4   POINTS_home       23421 non-null  int64
 5   POINTS_away       23421 non-null  int64
 6   HOME_TEAM_WINS    23421 non-null  int64
dtypes: datetime64[ns](1), int64(5), string(1)
memory usage: 1.3 MB

In [125]:
#Load data from csv as dataframe called teams and inspect

In [126]:
teams=pd.read_csv('teams.csv')
teams.head()

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

In [127]:
#Inspect columns of teams dataframe

In [128]:
teams.columns

Index(['LEAGUE_ID', 'TEAM_ID', 'MIN_YEAR', 'MAX_YEAR', 'ABBREVIATION',
       'NICKNAME', 'YEARFOUNDED', 'CITY', 'ARENA', 'ARENACAPACITY', 'OWNER',
       'GENERALMANAGER', 'HEADCOACH', 'DLEAGUEAFFILIATION'],
      dtype='object')

In [129]:
#Reassign teams as a subset of only columns desired and look at first 5 rows

In [130]:
teams=teams[['TEAM_ID','CITY','NICKNAME']]
teams.head()

      TEAM_ID         CITY   NICKNAME
0  1610612737      Atlanta      Hawks
1  1610612738       Boston    Celtics
2  1610612740  New Orleans   Pelicans
3  1610612741      Chicago      Bulls
4  1610612742       Dallas  Mavericks

In [131]:
#Inspect new teams dataframe columns

In [132]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TEAM_ID   30 non-null     int64
 1   CITY      30 non-null     object
 2   NICKNAME  30 non-null     object
dtypes: int64(1), object(2)
memory usage: 852.0+ bytes

In [133]:
#Convert columns CITY and NICKNAME to string datatype

In [134]:
teams=teams.astype({'CITY':'string','NICKNAME':'string'})

In [135]:
#Ensure changes to dataframe have been done correctly

In [136]:
teams.dtypes

TEAM_ID              int64
CITY        string[python]
NICKNAME    string[python]
dtype: object

In [137]:
#View first two rows of each dataframe, teams and games

In [138]:
games.head(2)

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS
0,2020-12-19,Final,1610612753,1610612766,120,117,1
1,2020-12-19,Final,1610612764,1610612765,99,96,1

In [139]:
teams.head(2)

      TEAM_ID     CITY NICKNAME
0  1610612737  Atlanta    Hawks
1  1610612738   Boston  Celtics

In [140]:
#Inner merge games and teams using team ID's and home team IDs to obtain new dataframe of games with home team

In [141]:
games_with_home_team=pd.merge(games,teams,left_on='TEAM_ID_home',right_on='TEAM_ID',how='inner')

In [142]:
#Ensure merge was done correctly

In [143]:
games_with_home_team.head()

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID,CITY,NICKNAME
0,2020-12-19,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic
1,2020-12-17,Final,1610612753,1610612766,115,123,0,1610612753,Orlando,Magic
2,2020-08-24,Final,1610612753,1610612749,106,121,0,1610612753,Orlando,Magic
3,2020-08-22,Final,1610612753,1610612749,107,121,0,1610612753,Orlando,Magic
4,2020-08-13,Final,1610612753,1610612740,133,127,1,1610612753,Orlando,Magic

In [222]:
#Rename columns of home teams for consistency with new dataframe

In [145]:
games_with_home_team=games_with_home_team.rename(columns={'CITY':'city_home','NICKNAME':'nickname_home'})
games_with_home_team.head()

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID,city_home,nickname_home
0,2020-12-19,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic
1,2020-12-17,Final,1610612753,1610612766,115,123,0,1610612753,Orlando,Magic
2,2020-08-24,Final,1610612753,1610612749,106,121,0,1610612753,Orlando,Magic
3,2020-08-22,Final,1610612753,1610612749,107,121,0,1610612753,Orlando,Magic
4,2020-08-13,Final,1610612753,1610612740,133,127,1,1610612753,Orlando,Magic

In [146]:
#Merge games with home teams dataframe with teams dataframe using team IDs and away team IDs to obtain new dataframe games with both teams includes (home and away)

In [147]:
games_with_both_teams=pd.merge(games_with_home_team,teams,left_on='TEAM_ID_away',right_on='TEAM_ID',how='inner')

In [148]:
#Inspect new dataframe with both home and away teams and ensure merge was done correctly

In [149]:
games_with_both_teams.head(2)

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID_x,city_home,nickname_home,TEAM_ID_y,CITY,NICKNAME
0,2020-12-19,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
1,2020-12-17,Final,1610612753,1610612766,115,123,0,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets

In [150]:
#Rename columns of away teams for consistency with new dataframe

In [151]:
games_with_both_teams=games_with_both_teams.rename(columns={'CITY':'city_away','NICKNAME':'nickname_away'})

In [152]:
#Inspect dataframe to ensure changes to column names has been done correctly

In [153]:
games_with_both_teams.head()

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID_x,city_home,nickname_home,TEAM_ID_y,city_away,nickname_away
0,2020-12-19,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
1,2020-12-17,Final,1610612753,1610612766,115,123,0,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
2,2014-03-28,Final,1610612753,1610612766,110,105,1,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
3,2014-01-17,Final,1610612753,1610612766,101,111,0,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
4,2013-02-19,Final,1610612753,1610612766,92,105,0,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets

In [154]:
#Drop redundant columns not needed after merges and inspect

In [155]:
games_with_both_teams = games_with_both_teams.drop(columns=['TEAM_ID_home', 'TEAM_ID_away', 'TEAM_ID_x', 'TEAM_ID_y'])
games_with_both_teams.head()

,GAME_DATE,GAME_STATUS_TEXT,POINTS_home,POINTS_away,HOME_TEAM_WINS,city_home,nickname_home,city_away,nickname_away
0,2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
1,2020-12-17,Final,115,123,0,Orlando,Magic,Charlotte,Hornets
2,2014-03-28,Final,110,105,1,Orlando,Magic,Charlotte,Hornets
3,2014-01-17,Final,101,111,0,Orlando,Magic,Charlotte,Hornets
4,2013-02-19,Final,92,105,0,Orlando,Magic,Charlotte,Hornets

In [156]:
#Make a copy of games with both teams dataframe and name it games for further exploration/manipulation

In [157]:
games=games_with_both_teams.copy()

In [158]:
#Change columns names of games dataframe to all lowercase for ease and consistency

In [159]:
games.columns=games.columns.str.lower()

In [160]:
#Verify changes to column names

In [161]:
games.columns

Index(['game_date', 'game_status_text', 'points_home', 'points_away',
       'home_team_wins', 'city_home', 'nickname_home', 'city_away',
       'nickname_away'],
      dtype='object')

In [162]:
#Ensure copy did not effect original games with both teams dataframe

In [163]:
games_with_both_teams.columns

Index(['GAME_DATE', 'GAME_STATUS_TEXT', 'POINTS_home', 'POINTS_away',
       'HOME_TEAM_WINS', 'city_home', 'nickname_home', 'city_away',
       'nickname_away'],
      dtype='object')

In [164]:
#View dimensions of games dataframe

In [165]:
games.shape

(23421, 9)

In [166]:
#Export games dataframe as a csv and inspect

In [167]:
games.to_csv('games_transformed.csv',index=False)

In [168]:
#Select columns from games dataframe that are of number datatype

In [169]:
games.select_dtypes(include='number')

       points_home  points_away  home_team_wins
0              120          117               1
1              115          123               0
2              110          105               1
3              101          111               0
4               92          105               0
...            ...          ...             ...
23416          116          110               1
23417          110          100               1
23418          122           92               1
23419          119          113               1
23420           98           97               1

[23421 rows x 3 columns]

In [170]:
#Select columns from games dataframe that are not of number datatype

In [171]:
games.select_dtypes(exclude='number')

,game_date,game_status_text,city_home,nickname_home,city_away,nickname_away
0,2020-12-19,Final,Orlando,Magic,Charlotte,Hornets
1,2020-12-17,Final,Orlando,Magic,Charlotte,Hornets
2,2014-03-28,Final,Orlando,Magic,Charlotte,Hornets
3,2014-01-17,Final,Orlando,Magic,Charlotte,Hornets
4,2013-02-19,Final,Orlando,Magic,Charlotte,Hornets
...,...,...,...,...,...,...
23416,2018-11-26,Final,Golden State,Warriors,Orlando,Magic
23417,2017-11-13,Final,Golden State,Warriors,Orlando,Magic
23418,2017-03-16,Final,Golden State,Warriors,Orlando,Magic
23419,2016-03-07,Final,Golden State,Warriors,Orlando,Magic
23420,2014-12-02,Final,Golden State,Warriors,Orlando,Magic

In [172]:
#Print out first five rows of games dataframe for reference moving forward

In [173]:
games.head()

,game_date,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
0,2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
1,2020-12-17,Final,115,123,0,Orlando,Magic,Charlotte,Hornets
2,2014-03-28,Final,110,105,1,Orlando,Magic,Charlotte,Hornets
3,2014-01-17,Final,101,111,0,Orlando,Magic,Charlotte,Hornets
4,2013-02-19,Final,92,105,0,Orlando,Magic,Charlotte,Hornets

In [196]:
#Select rows with label and integer row zero

In [174]:
games.loc[0]

game_date           2020-12-19 00:00:00
game_status_text                  Final
points_home                         120
points_away                         117
home_team_wins                        1
city_home                       Orlando
nickname_home                     Magic
city_away                     Charlotte
nickname_away                   Hornets
Name: 0, dtype: object

In [175]:
games.iloc[0]

game_date           2020-12-19 00:00:00
game_status_text                  Final
points_home                         120
points_away                         117
home_team_wins                        1
city_home                       Orlando
nickname_home                     Magic
city_away                     Charlotte
nickname_away                   Hornets
Name: 0, dtype: object

In [197]:
#Set the column with game dates as the new index of dataframe games

In [176]:
games=games.set_index('game_date')

In [198]:
#Verify change to index has been made correctly to dataframe

In [177]:
games.index

DatetimeIndex(['2020-12-19', '2020-12-17', '2014-03-28', '2014-01-17',
               '2013-02-19', '2013-01-18', '2012-04-25', '2012-01-17',
               '2011-04-01', '2011-02-27',
               ...
               '2007-12-03', '2007-01-10', '2006-03-01', '2004-12-10',
               '2004-03-17', '2018-11-26', '2017-11-13', '2017-03-16',
               '2016-03-07', '2014-12-02'],
              dtype='datetime64[ns]', name='game_date', length=23421, freq=None)

In [201]:
#Select rows with games played on the 18th of December 2020

In [178]:
games.loc['2020-12-18']

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
game_date,,,,,,,,
2020-12-18,Final,127,113,1,New Orleans,Pelicans,Milwaukee,Bucks
2020-12-18,Final,89,113,0,Boston,Celtics,Brooklyn,Nets
2020-12-18,Final,113,114,0,Phoenix,Suns,Los Angeles,Lakers
2020-12-18,Final,129,96,1,Denver,Nuggets,Portland,Trail Blazers
2020-12-18,Final,105,117,0,Toronto,Raptors,Miami,Heat
2020-12-18,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers
2020-12-18,Final,103,105,0,Oklahoma City,Thunder,Chicago,Bulls
2020-12-18,Final,119,83,1,New York,Knicks,Cleveland,Cavaliers

In [202]:
#Select rows with games played from the 18th to the 19th of December 2020

In [179]:
games.loc['2020-12-18':'2020-12-19']

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
game_date,,,,,,,,
2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
2020-12-18,Final,127,113,1,New Orleans,Pelicans,Milwaukee,Bucks
2020-12-18,Final,89,113,0,Boston,Celtics,Brooklyn,Nets
2020-12-18,Final,113,114,0,Phoenix,Suns,Los Angeles,Lakers
2020-12-18,Final,129,96,1,Denver,Nuggets,Portland,Trail Blazers
2020-12-19,Final,99,96,1,Washington,Wizards,Detroit,Pistons
2020-12-19,Final,116,117,0,Memphis,Grizzlies,Atlanta,Hawks
2020-12-18,Final,105,117,0,Toronto,Raptors,Miami,Heat
2020-12-18,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers
2020-12-18,Final,103,105,0,Oklahoma City,Thunder,Chicago,Bulls
2020-12-18,Final,119,83,1,New York,Knicks,Cleveland,Cavaliers

In [203]:
#Select rows with games played on the 18th of December for both years, 2020 and 2019

In [180]:
games.loc[['2020-12-18','2019-12-18']]

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
game_date,,,,,,,,
2020-12-18,Final,127,113,1,New Orleans,Pelicans,Milwaukee,Bucks
2020-12-18,Final,89,113,0,Boston,Celtics,Brooklyn,Nets
2020-12-18,Final,113,114,0,Phoenix,Suns,Los Angeles,Lakers
2020-12-18,Final,129,96,1,Denver,Nuggets,Portland,Trail Blazers
2020-12-18,Final,105,117,0,Toronto,Raptors,Miami,Heat
2020-12-18,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers
2020-12-18,Final,103,105,0,Oklahoma City,Thunder,Chicago,Bulls
2020-12-18,Final,119,83,1,New York,Knicks,Cleveland,Cavaliers
2019-12-18,Final,100,98,1,Cleveland,Cavaliers,Charlotte,Hornets
2019-12-18,Final,99,107,0,Minnesota,Timberwolves,New Orleans,Pelicans
2019-12-18,Final,99,112,0,Detroit,Pistons,Toronto,Raptors
2019-12-18,Final,104,108,0,Philadelphia,76ers,Miami,Heat
2019-12-18,Final,103,109,0,Dallas,Mavericks,Boston,Celtics
2019-12-18,Final,109,110,0,Washington,Wizards,Chicago,Bulls
2019-12-18,Final,126,122,1,Oklahoma City,Thunder,Memphis,Grizzlies
2019-12-18,Final,122,112,1,Portland,Trail Blazers,Golden State,Warriors
2019-12-18,Final,113,104,1,Denver,Nuggets,Orlando,Magic

In [205]:
#Select games where the home team scored greater than 150 points

In [181]:
games[games['points_home']>150]

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
game_date,,,,,,,,
2010-03-16,Final,152,114,1,Phoenix,Suns,Minnesota,Timberwolves
2020-08-25,Final,154,111,1,Los Angeles,Clippers,Dallas,Mavericks
2006-12-27,Final,151,145,1,New York,Knicks,Detroit,Pistons
2019-11-30,Final,158,111,1,Houston,Rockets,Atlanta,Hawks
2008-03-16,Final,168,116,1,Denver,Nuggets,Oklahoma City,Thunder
2019-01-10,Final,154,147,1,San Antonio,Spurs,Oklahoma City,Thunder
2020-01-28,Final,151,131,1,Milwaukee,Bucks,Washington,Wizards
2020-01-26,Final,152,133,1,Atlanta,Hawks,Washington,Wizards
2019-03-01,Final,161,168,0,Atlanta,Hawks,Chicago,Bulls
2019-10-30,Final,158,159,0,Washington,Wizards,Houston,Rockets
2006-12-07,Final,157,161,0,Brooklyn,Nets,Phoenix,Suns
2008-04-06,Final,151,147,1,Oklahoma City,Thunder,Denver,Nuggets

In [206]:
#Select the games where the the home team scored greater than 150 points and still lost the game

In [182]:
games[(games['points_home']>150) & (games['home_team_wins']!=1)]

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
game_date,,,,,,,,
2019-03-01,Final,161,168,0,Atlanta,Hawks,Chicago,Bulls
2019-10-30,Final,158,159,0,Washington,Wizards,Houston,Rockets
2006-12-07,Final,157,161,0,Brooklyn,Nets,Phoenix,Suns

In [208]:
#Select the games where the above occured and print out only the home team's total points in those games

In [183]:
games.loc[(games['points_home']>150)&(games['home_team_wins']!=1),['home_team_wins','points_home']]

            home_team_wins  points_home
game_date
2019-03-01               0          161
2019-10-30               0          158
2006-12-07               0          157

In [210]:
#Reset the games dataframe index and ensure changes have been made correctly

In [184]:
games=games.reset_index()

In [185]:
games.head()

,game_date,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
0,2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
1,2020-12-17,Final,115,123,0,Orlando,Magic,Charlotte,Hornets
2,2014-03-28,Final,110,105,1,Orlando,Magic,Charlotte,Hornets
3,2014-01-17,Final,101,111,0,Orlando,Magic,Charlotte,Hornets
4,2013-02-19,Final,92,105,0,Orlando,Magic,Charlotte,Hornets

In [211]:
#Add a new column to the dataframe as a sum of home and away points to give column of total points for each game

In [186]:
games['points_total']=games['points_home']+games['points_away']

In [212]:
#Verify new column total points

In [187]:
games[['points_home','points_away','points_total']]

       points_home  points_away  points_total
0              120          117           237
1              115          123           238
2              110          105           215
3              101          111           212
4               92          105           197
...            ...          ...           ...
23416          116          110           226
23417          110          100           210
23418          122           92           214
23419          119          113           232
23420           98           97           195

[23421 rows x 3 columns]

In [213]:
#Select the top three games with most points scored

In [188]:
games.nlargest(n=3,columns='points_total')

,game_date,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away,points_total
15391,2019-03-01,Final,161,168,0,Atlanta,Hawks,Chicago,Bulls,329
16895,2006-12-07,Final,157,161,0,Brooklyn,Nets,Phoenix,Suns,318
15572,2019-10-30,Final,158,159,0,Washington,Wizards,Houston,Rockets,317

In [214]:
#Sort the dataframe by ascending number of total points and view last three rows of dataframe to verify they are the same games as above

In [189]:
games=games.sort_values(by='points_total',ascending=True)

In [190]:
games.tail(3)

,game_date,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away,points_total
15572,2019-10-30,Final,158,159,0,Washington,Wizards,Houston,Rockets,317
16895,2006-12-07,Final,157,161,0,Brooklyn,Nets,Phoenix,Suns,318
15391,2019-03-01,Final,161,168,0,Atlanta,Hawks,Chicago,Bulls,329

In [216]:
#Select the row with the game with the lowest points scored

In [191]:
games.iloc[0]

game_date           2007-10-19 00:00:00
game_status_text                  Final
points_home                          36
points_away                          33
home_team_wins                        1
city_home                        Boston
nickname_home                   Celtics
city_away                      Brooklyn
nickname_away                      Nets
points_total                         69
Name: 2475, dtype: object

In [218]:
#Select the rows with games in which the second and third lowest number of points were scored

In [193]:
games.iloc[[1,2]]

,game_date,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away,points_total
14885,2003-10-08,Final,62,58,1,Indiana,Pacers,Chicago,Bulls,120
5948,2004-11-09,Final,64,60,1,Brooklyn,Nets,Portland,Trail Blazers,124

In [219]:
#Select a subset of the dataframe for only the first four rows and five columns

In [194]:
games.iloc[:4,:5]

       game_date game_status_text  points_home  points_away  home_team_wins
2475  2007-10-19            Final           36           33               1
14885 2003-10-08            Final           62           58               1
5948  2004-11-09            Final           64           60               1
13807 2005-03-13            Final           64           62               1

In [220]:
#Preview final form of games dataframe after manipulation

In [221]:
games.head()

,game_date,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away,points_total
2475,2007-10-19,Final,36,33,1,Boston,Celtics,Brooklyn,Nets,69
14885,2003-10-08,Final,62,58,1,Indiana,Pacers,Chicago,Bulls,120
5948,2004-11-09,Final,64,60,1,Brooklyn,Nets,Portland,Trail Blazers,124
13807,2005-03-13,Final,64,62,1,Detroit,Pistons,Utah,Jazz,126
3555,2003-11-01,Final,73,56,1,Minnesota,Timberwolves,Toronto,Raptors,129